openapi: 3.2.0
$self: https://api.irvanma.eu.org/openapi.yaml
info:
  title: Realm API
  description: High-performance backend API service for Realm built with Go, Fiber v2, and PostgreSQL.
  version: 1.0.0
  contact:
    name: Irvan Malik Azantha
    url: https://irvanma.eu.org
    email: irvanma@gnuweeb.org
  license:
    name: RCCL-1.0
    url: https://github.com/irvanmalik48/realm-api/blob/main/LICENSE

servers:
  - url: https://api.irvanma.eu.org
    description: Production Server
  - url: http://localhost:8080
    description: Local Development Server

tags:
  - name: Health
    summary: Health check and status
    description: Core service health and uptime endpoints.
  - name: Authentication
    summary: User Authentication & Sessions
    description: User registration, credentials login, profile management, and Google/GitHub OIDC flows with PASETO bearer tokens.
  - name: LastFM
    summary: LastFM Scrobble and User Data
    description: Proxied, cached endpoints for LastFM track scrobbles and user statistics.
  - name: Contact
    summary: Contact Form Submissions
    description: Contact message ingestion with CSRF protection, rate limiting, and instant notifications.
  - name: Storage
    summary: Zstandard Compressed File Storage
    description: High-performance file storage with Zstd compression, Blurhash analysis, and endpoint-level WebP conversion.

paths:
  /:
    get:
      summary: Root greeting endpoint
      operationId: getRoot
      tags:
        - Health
      responses:
        '200':
          description: Root message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootResponse'

  /health:
    get:
      summary: Service health check and uptime status
      operationId: getHealth
      tags:
        - Health
      responses:
        '200':
          description: Service health details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /v1/health:
    get:
      summary: Versioned health check
      operationId: getV1Health
      tags:
        - Health
      responses:
        '200':
          description: Service health details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /v1/auth/register:
    post:
      summary: Register a new user account
      operationId: registerUser
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterInput'
      responses:
        '201':
          description: User registered successfully and PASETO session token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: User with this email or username already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/login:
    post:
      summary: Authenticate with username or email and password
      operationId: loginUser
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
      responses:
        '200':
          description: Successfully authenticated and PASETO session token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid username/email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/me:
    get:
      summary: Get current authenticated user profile
      operationId: getCurrentUserProfile
      tags:
        - Authentication
      security:
        - PasetoAuth: []
      responses:
        '200':
          description: Current user profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Missing or expired PASETO authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/profile:
    patch:
      summary: Update user profile
      operationId: updateUserProfile
      tags:
        - Authentication
      security:
        - PasetoAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileInput'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Invalid input validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or expired PASETO authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/auth/google:
    get:
      summary: Initiate Google OIDC sign-in
      operationId: googleLogin
      tags:
        - Authentication
      responses:
        '307':
          description: Temporary redirect to Google OAuth consent screen

  /v1/auth/google/callback:
    get:
      summary: Google OIDC OAuth callback handler
      operationId: googleCallback
      tags:
        - Authentication
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '307':
          description: Redirects to frontend application with PASETO session token

  /v1/auth/github:
    get:
      summary: Initiate GitHub OAuth2 sign-in
      operationId: githubLogin
      tags:
        - Authentication
      responses:
        '307':
          description: Temporary redirect to GitHub OAuth consent screen

  /v1/auth/github/callback:
    get:
      summary: GitHub OAuth2 callback handler
      operationId: githubCallback
      tags:
        - Authentication
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '307':
          description: Redirects to frontend application with PASETO session token

  /v1/lastfm/track:
    get:
      summary: Get recent LastFM tracks
      operationId: getLastFMRecentTracks
      tags:
        - LastFM
      parameters:
        - name: username
          in: query
          required: true
          description: LastFM username
          schema:
            type: string
            example: irvanmalik48
        - name: limit
          in: query
          required: false
          description: Number of tracks to retrieve (1-200)
          schema:
            type: integer
            default: 1
            minimum: 1
            maximum: 200
            example: 8
      responses:
        '200':
          description: List of recent tracks
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, s-maxage=900, stale-while-revalidate=1800
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastFMTrackResponse'
        '400':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server configuration error or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Upstream LastFM gateway error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/lastfm/user:
    get:
      summary: Get LastFM user profile
      operationId: getLastFMUserInfo
      tags:
        - LastFM
      parameters:
        - name: username
          in: query
          required: true
          description: LastFM username
          schema:
            type: string
            example: irvanmalik48
      responses:
        '200':
          description: User profile and statistics
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, s-maxage=900, stale-while-revalidate=1800
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastFMUserResponse'
        '400':
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Upstream LastFM gateway error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/contact:
    post:
      summary: Submit contact form message
      operationId: submitContactMessage
      tags:
        - Contact
      parameters:
        - name: X-Realm-Request
          in: header
          required: false
          description: Security header for CSRF protection
          schema:
            type: string
            example: '1'
        - name: X-Requested-With
          in: header
          required: false
          description: Alternative CSRF protection header
          schema:
            type: string
            example: XMLHttpRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        '200':
          description: Message accepted and persisted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        '400':
          description: Validation error or missing security headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: CSRF origin validation forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (5 requests per 10 minutes)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Database persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/storage/upload:
    post:
      summary: Upload and compress file
      operationId: uploadFile
      tags:
        - Storage
      security:
        - ApiTokenAuth: []
        - ApiTokenHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload and compress with Zstd
      responses:
        '201':
          description: File uploaded, compressed, and registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '400':
          description: No file uploaded or corrupted payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid storage API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: File size exceeds MAX_UPLOAD_SIZE_MB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Storage or compression processing error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/storage/{id}:
    get:
      summary: Fetch stored file or convert to WebP
      operationId: getFile
      tags:
        - Storage
      parameters:
        - name: id
          in: path
          required: true
          description: File UUID identifier
          schema:
            type: string
            format: uuid
            example: 7fa84e72-d7b1-4bb2-b6be-4b95d0ef923b
        - name: format
          in: query
          required: false
          description: Request on-the-fly image conversion to WebP
          schema:
            type: string
            enum: [webp]
        - name: download
          in: query
          required: false
          description: Force attachment download disposition
          schema:
            type: boolean
            default: false
        - name: If-None-Match
          in: header
          required: false
          description: ETag value for cache validation
          schema:
            type: string
      responses:
        '200':
          description: Decompressed file stream
          headers:
            Content-Type:
              schema:
                type: string
                example: image/webp
            Content-Disposition:
              schema:
                type: string
                example: inline; filename="wallpaper.webp"
            ETag:
              schema:
                type: string
                example: '"5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8"'
            Cache-Control:
              schema:
                type: string
                example: public, max-age=31536000, immutable
            X-Blurhash:
              schema:
                type: string
                example: LEHV6nWB2yk8pyo0adR*.7kCMdnj
            X-Image-Width:
              schema:
                type: integer
                example: 1920
            X-Image-Height:
              schema:
                type: integer
                example: 1080
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            image/*:
              schema:
                type: string
                format: binary
        '304':
          description: Resource Not Modified (ETag cache hit)
        '400':
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete stored file
      operationId: deleteFile
      tags:
        - Storage
      security:
        - ApiTokenAuth: []
        - ApiTokenHeader: []
      parameters:
        - name: id
          in: path
          required: true
          description: File UUID identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File and metadata successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: File deleted successfully
                  status:
                    type: string
                    example: success
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/storage/{id}/info:
    get:
      summary: Get file metadata and Blurhash
      operationId: getFileInfo
      tags:
        - Storage
      parameters:
        - name: id
          in: path
          required: true
          description: File UUID identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File metadata details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfoResponse'
        '400':
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    PasetoAuth:
      type: http
      scheme: bearer
      bearerFormat: paseto
      description: PASETO v2.local symmetric encrypted token (e.g. v2.local...)
    ApiTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: realm_tok
      description: Cryptographically secure API token generated via CLI (e.g. realm_tok_...)
    ApiTokenHeader:
      type: apiKey
      in: header
      name: X-API-Token
      description: API token passed via X-API-Token or X-API-Key header

  schemas:
    RootResponse:
      type: object
      required:
        - message
        - status
      properties:
        message:
          type: string
          example: Nothing to see here
        status:
          type: string
          example: success

    HealthResponse:
      type: object
      required:
        - status
        - service
        - version
        - uptime_seconds
        - timestamp
        - database
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          example: healthy
        service:
          type: string
          example: realm-api
        version:
          type: string
          example: 1.0.0
        uptime_seconds:
          type: integer
          example: 86400
        timestamp:
          type: string
          format: date-time
          example: '2026-08-20T13:18:31Z'
        database:
          type: string
          example: connected

    ErrorResponse:
      type: object
      required:
        - error
        - status
      properties:
        error:
          type: string
          example: Invalid parameters
        status:
          type: string
          example: error

    ContactRequest:
      type: object
      required:
        - name
        - email
        - subject
        - message
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
          example: Jane Doe
        email:
          type: string
          format: email
          maxLength: 254
          example: jane@example.com
        subject:
          type: string
          minLength: 3
          maxLength: 200
          example: Project Collaboration
        message:
          type: string
          minLength: 10
          maxLength: 5000
          example: Hello, I would like to discuss a project with you.
        _gotcha:
          type: string
          description: Honeypot field (must remain empty for human submissions)
          example: ""

    ContactResponse:
      type: object
      required:
        - message
        - status
      properties:
        message:
          type: string
          example: Your message has been sent successfully.
        status:
          type: string
          example: success

    FileDTO:
      type: object
      required:
        - id
        - filename
        - content_type
        - original_size
        - compressed_size
        - savings_percent
        - sha256
        - url
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 7fa84e72-d7b1-4bb2-b6be-4b95d0ef923b
        filename:
          type: string
          example: wallpaper.png
        content_type:
          type: string
          example: image/png
        original_size:
          type: integer
          format: int64
          example: 2450000
        compressed_size:
          type: integer
          format: int64
          example: 1120000
        savings_percent:
          type: number
          format: float
          example: 54.28
        sha256:
          type: string
          example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
        blurhash:
          type: string
          nullable: true
          example: LEHV6nWB2yk8pyo0adR*.7kCMdnj
        width:
          type: integer
          nullable: true
          example: 1920
        height:
          type: integer
          nullable: true
          example: 1080
        url:
          type: string
          example: /v1/storage/7fa84e72-d7b1-4bb2-b6be-4b95d0ef923b
        webp_url:
          type: string
          nullable: true
          example: /v1/storage/7fa84e72-d7b1-4bb2-b6be-4b95d0ef923b?format=webp
        created_at:
          type: string
          format: date-time
          example: '2026-08-20T12:00:00Z'

    FileUploadResponse:
      type: object
      required:
        - status
        - message
        - file
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: File uploaded and compressed successfully
        file:
          $ref: '#/components/schemas/FileDTO'

    FileInfoResponse:
      type: object
      required:
        - status
        - file
      properties:
        status:
          type: string
          example: success
        file:
          $ref: '#/components/schemas/FileDTO'

    LastFMTrackResponse:
      type: object
      properties:
        recenttracks:
          type: object
          properties:
            track:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  artist:
                    type: object
                    properties:
                      '#text':
                        type: string
                  album:
                    type: object
                    properties:
                      '#text':
                        type: string
                  url:
                    type: string
                  image:
                    type: array
                    items:
                      type: object
                      properties:
                        size:
                          type: string
                        '#text':
                          type: string

    LastFMUserResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            name:
              type: string
            playcount:
              type: string
            artist_count:
              type: string
            track_count:
              type: string
            album_count:
              type: string
            url:
              type: string

    UserDTO:
      type: object
      required:
        - id
        - email
        - username
        - full_name
        - provider
        - created_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        full_name:
          type: string
        avatar_url:
          type: string
          nullable: true
        provider:
          type: string
          enum: [local, google, github]
        created_at:
          type: string
          format: date-time

    RegisterInput:
      type: object
      required:
        - email
        - username
        - password
        - full_name
      properties:
        email:
          type: string
          format: email
          example: jane@example.com
        username:
          type: string
          example: janedoe
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePassword123!
        full_name:
          type: string
          example: Jane Doe
        avatar_url:
          type: string
          nullable: true
          example: https://example.com/avatar.png

    LoginInput:
      type: object
      required:
        - identifier
        - password
      properties:
        identifier:
          type: string
          description: Username or email address
          example: janedoe
        password:
          type: string
          format: password
          example: SecurePassword123!

    UpdateProfileInput:
      type: object
      properties:
        full_name:
          type: string
          example: Jane Smith
        avatar_url:
          type: string
          example: https://example.com/new-avatar.png

    AuthResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: Login successful
        token:
          type: string
          description: PASETO v2.local symmetric token
          example: v2.local.k7x...
        user:
          $ref: '#/components/schemas/UserDTO'

    ProfileResponse:
      type: object
      required:
        - status
        - user
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        user:
          $ref: '#/components/schemas/UserDTO'

